@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:ital,wght@1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* *{
    border: 1px solid red;
  } */

  ::-moz-selection {
    background: #d1d1c7;
  }
  ::-webkit-selection {
    background: #d1d1c7;
  }
  ::selection {
    background: #d1d1c7;
  }

  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: "CabinetGrotesk-Variable";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans-Variable";
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

  @media (min-width: 640px) {
    * {
      cursor: none;
    }
  }
  a,
  p,
  span {
    @apply font-grotesk;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-general tracking-headings;
  }

  .font-outline-4 {
    -webkit-text-stroke: 5px black;
  }

  .font-outline-3 {
    -webkit-text-stroke: 4px #0e0e0c;
  }
}

@layer components {
  .button {
    @apply bg-accent-300 px-8 py-3 text-secondary-200 rounded-full;
  }
}

@layer utilities {
  .title {
    clippath: polygon(0 0, 200% 0, 100% 100%, 0% 100%);
    line-height: clamp(6rem, 16vw, 10rem); /* Set the desired line height */
  }

  nav a:hover ~ .cursor {
    transform: scale(5);
    opacity: 0;
  }

  .section-heading {
    clippath: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}
